# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/admin/
staticfiles/

# Virtual Environment
venv/
ENV/
env/
.env

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Arquivos temporários
*.swp
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Arquivos de cache
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Arquivos de log
*.log
